@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.font-family-two {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-green {
  color: #7EB693;
}

.widget-search {
  position: relative;
  margin-right: 15px;
}

.input-search {
  background-color: #fafafa;
  border-radius: 36px;
  border: none;
  outline: none;
  padding: 5px 42px 5px 15px;
  color: #444444;
  height: 42px;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7EB693;
  color: white;
  border-radius: 50%;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; /* btn-search'i sağa hizalayan kod */
  width: 36px;
  height: 36px;
  margin: 3px;
  padding: auto;
}

.btn-search img {
  width: 15px;
  height: 15px;
}

.navbar-widget {
  display: flex;
}

.btn-main-green {
  background-color: white;
  text-decoration: none;
}

.subject-slide {
  position: absolute;
  top: 50%;
}

.choose-card {
  position: relative;
  width: 100%;
  border-radius: 30px;
}

.choose-card img {
  border-radius: 30px;
}

.choose-card-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 40px;
  max-width: 350px;
  line-height: 1.1;
}

.choose-card-content span {
  display: block;
  font-size: 2.5rem;
}

.subject-slider-content {
  position: absolute;
  top: 50%;
  transform: translate(-130%, -50%);
  max-width: 400px;
  animation: example 500ms linear forwards;
}

@keyframes example {
  from {
    transform: translate(-130%, -50%);
  }
  to {
    transform: translate(0%, -50%);
  }
}
.btn-mint {
  background-color: #274C5B;
  color: #fff;
  padding: 15px 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 300ms all;
}

.btn-mint .icon {
  margin-right: 10px;
  margin-left: 0;
}

.btn-mint:hover {
  background-color: #234552;
  color: #fff;
}

.btn-gold {
  background-color: #EFD372;
}

.btn-gold:hover {
  background-color: #aea47d;
}

.btn-mint:hover .icon {
  margin-left: 10px;
  margin-right: 0;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 300ms;
}

.icon.icon-arrow {
  background-image: url("../img/icon/arrow.svg");
  width: 19px;
  height: 19px;
}

.section-content-card {
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 500px;
  margin-bottom: 15px;
}

.content-card-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.content-card-icon::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 30px;
  border-radius: 50%;
  background-color: #FFF4CD;
}

.content-card-icon-blue::before {
  background-color: #CDE7FF;
}

/* noktanın img'nin altına gelmesi için */
.content-card-icon img {
  z-index: 1;
}

.category-card {
  position: relative;
  border-radius: 30px;
  background-color: #F9F8F8;
  transition: all 300ms;
  border: 1px solid transparent; /* çizgi için default değer */
}
.category-card-image {
  width: 100%;
  height: 325px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-top: 40px;
}
.category-card-type {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.category-card-type span {
  display: inline-block;
  background-color: #234552;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 0.8rem;
  color: #fff;
}
.category-card-content {
  padding: 15px;
}
.category-card-content-title {
  color: #444444;
  display: flex;
  text-align: center;
  font-size: 1.2rem;
}
.category-card-content-title .span {
  font-size: 1.2rem;
  font-weight: 500;
}

.category-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-color: #DEDDDD;
}/*# sourceMappingURL=style.css.map */